/* I'm a CSS comment! */
* {
  font-size: 100%;
  margin: 10px;
  line-height: 2;

   /* border: 1px red; */
}
body {
  background-color: #a69ea7;
  color: #1a191a;
  font-family: 'Bitter' , Goudy Old Style;
  font-size: 14px
  text-align: center;
}
.title {
  font-size: 48px;
}

h1,h2,h3,h4 {
  color: #1a191a;
  font-size: 36px
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid black;
}


section, ul, li {
  text-align: center;

}
p {
  line-height: 2;
  text-align: center;
  margin: 15px 0;
}
.box {
  border: 1px solid black;
  padding: 30px;
}
.box {
  background-image: url(chevron.png);
  width: 100px;
  height: 100px;
}
.box p {
  font-size: 24px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
}
footer p {
  font-size: 13px;

}
a:link,
a:focus,
a:active  {
  color: #1a191a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: grey;
}
img {

  height: 300px;
}
/* I'm a CSS comment! */

/*
Comment blocks
can span
multiple lines
*/
